{{ $params := .Site.Params }}
<div class="sidebar-author">
  <img
    data-src="{{ "avatar/" | relURL }}{{ .Site.Params.avatar }}"
    data-sizes="auto"
    alt="{{ .Site.Params.author }}"
    class="lazyload"
  />
  <div class="sidebar-author-name">{{ .Site.Params.author }}</div>
  <div class="sidebar-description">{{ .Site.Params.description }}</div>
</div>
<div class="sidebar-state">
  <div class="sidebar-state-article">
    <div>{{ i18n "sidebar.post" }}</div>
    {{ $posts := (where .Page.Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
    <div class="sidebar-state-number">{{ len $posts }}</div>
  </div>
  <div class="sidebar-state-category">
    <div>{{ i18n "sidebar.category" }}</div>
    <div class="sidebar-state-number">
      {{ len .Site.Taxonomies.categories }}
    </div>
  </div>
  <div class="sidebar-state-tag">
    <div>{{ i18n "sidebar.tag" }}</div>
    <div class="sidebar-state-number">{{ len .Site.Taxonomies.tags }}</div>
  </div>
</div>
<div class="sidebar-social">
  {{ range $name, $url := .Site.Params.social }}
    <div class="icon-{{ $name }} sidebar-social-icon">
      <a
        href="{{ $url }}"
        itemprop="url"
        target="_blank"
        aria-label="{{ $name }}"
        rel="noopener external nofollow noreferrer"
      ></a>
    </div>
  {{ end }}
</div>
<div class="sidebar-menu">
  {{ range .Site.Params.menu }}
    <div class="sidebar-menu-link-wrap">
      <a
        class="sidebar-menu-link-dummy"
        href="{{ .url | relURL }}"
        aria-label="{{ i18n .name }}"
      ></a>
      <div class='sidebar-menu-icon icon {{ if or (and (eq .icon "e62b") ($params.icon_font)) (and (eq .icon "f6ad") (not $params.icon_font)) (not .icon) }}rotate{{ end }}'>
        {{ if .icon }}
          &#x{{ .icon }};
        {{ else }}
          {{ if $params.icon_font }}
            &#xe62b;
          {{ else }}
            &#xf6ad;
          {{ end }}
        {{ end }}
      </div>
      <div class="sidebar-menu-link">{{ i18n .name }}</div>
    </div>
  {{ end }}
</div>
