{{ $icon_font := .Site.Params.icon_font }}
{{ $clipboard := .Site.Params.clipboard }}
{{ $outdate := .Site.Params.outdate }}
{{ $anchor_icon := .Site.Params.anchor_icon }}
{{ $code_block := .Site.Params.code_block }}
{{ $siteConfig := dict "icon_font" $icon_font "clipboard" $clipboard "outdate" $outdate "anchor_icon" $anchor_icon "code_block" $code_block }}
<script>
  window.siteConfig = JSON.parse({{ $siteConfig | jsonify }});
</script>
{{ if .Site.Params.service_worker.enable }}
<script>
  window.siteConfig.swPath = '{{ "sw.js" | relURL }}';
</script>
{{ end }}
