{{ if len .Site.Taxonomies.tags }}
<div class="widget-wrapper">
  <div
    class="widget-wrap"
    data-aos="{{ .Site.Params.animation.options.home.widget }}"
  >
    <h3 class="widget-title">{{ i18n "tagcloud" }}</h3>
    {{ $posts := (where .Page.Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
    <div class="widget tagcloud">
      {{ range .Site.Taxonomies.tags }}
      {{ $weight := add 10 (mul 10 (div .Count (len $posts))) }}
        <a
          style="font-size:{{ $weight }}px"
          href="{{ .Page.RelPermalink }}"
          aria-label="{{ i18n "tag" }}: {{ .Page.Title }}"
          >{{ .Page.Title }}</a
        >
      {{ end }}
    </div>
  </div>
</div>
{{ end }}