{{ if or .PrevInSection .NextInSection }}
  <nav
    id="article-nav"
    data-aos="{{ .Site.Params.animation.options.article.nav }}"
  >
    {{ if .PrevInSection }}
      <div class="article-nav-link-wrap article-nav-link-left">
        {{ if .PrevInSection.Params.cover }}
          <img
            data-src="{{ .PrevInSection.Params.cover }}"
            data-sizes="auto"
            alt="{{ .PrevInSection.Title }}"
            class="lazyload"
          />
        {{ else }}
          {{ $covers := partial "helpers/randomCover.html" . }}
          {{ if $covers }}
            <img
              data-src="{{ $covers }}"
              data-sizes="auto"
              alt="{{ .PrevInSection.Title }}"
              class="lazyload"
            />
          {{ else }}
            <img
              data-src="{{ .Site.Params.banner | relURL }}"
              data-sizes="auto"
              alt="{{ .PrevInSection.Title }}"
              class="lazyload"
            />
          {{ end }}
        {{ end }}
        <a href="{{ .PrevInSection.Permalink }}"></a>
        <div class="article-nav-caption">{{ i18n "newer" }}</div>
        <h3 class="article-nav-title">
          {{ if .PrevInSection.Title }}
            {{ .PrevInSection.Title }}
          {{ else }}
            (no title)
          {{ end }}
        </h3>
      </div>
    {{ end }}

    {{ if .NextInSection }}
      <div class="article-nav-link-wrap article-nav-link-right">
        {{ if .NextInSection.Params.cover }}
          <img
            data-src="{{ .NextInSection.Params.cover }}"
            data-sizes="auto"
            alt="{{ .NextInSection.Title }}"
            class="lazyload"
          />
        {{ else }}
          {{ $covers := partial "helpers/randomCover.html" . }}
          {{ if $covers }}
            <img
              data-src="{{ $covers }}"
              data-sizes="auto"
              alt="{{ .NextInSection.Title }}"
              class="lazyload"
            />
          {{ else }}
            <img
              data-src="{{ .Site.Params.banner | relURL }}"
              data-sizes="auto"
              alt="{{ .NextInSection.Title }}"
              class="lazyload"
            />
          {{ end }}
        {{ end }}
        <a href="{{ .NextInSection.Permalink }}"></a>
        <div class="article-nav-caption">{{ i18n "older" }}</div>
        <h3 class="article-nav-title">
          {{ if .NextInSection.Title }}
            {{ .NextInSection.Title }}
          {{ else }}
            (no title)
          {{ end }}
        </h3>
      </div>
    {{ end }}
  </nav>
{{ end }}
