<div class="sponsor-wrapper">
  <div class="sponsor-button-wrapper">
    <div class="sponsor-icon {{ if .Site.Params.sponsor.icon.rotate }}rotate{{ end }}"></div>
    <div class="sponsor-title">{{ i18n "sponsor" }}</div>
    <div class="sponsor-icon {{ if .Site.Params.sponsor.icon.rotate }}rotate{{ end }}"></div>
  </div>
  <div class="sponsor-tip">{{ .Site.Params.sponsor.tip }}</div>
  {{ if .Site.Params.sponsor.qr }}
    <div class="sponsor-qr">
      {{ range .Site.Params.sponsor.qr }}
        <div class="sponsor-qr-image-wrapper">
          <img src="{{ .src | relURL }}" alt="{{ .name }}" width="200" />
          <p class="sponsor-qr-name">{{ .name }}</p>
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>