<!doctype html>
<html
  lang="{{ .Site.LanguageCode }}" 
  {{ if eq .Site.Params.dark_mode.enable true }}
    data-theme-mode="true"
  {{ else if eq .Site.Params.dark_mode.enable false }}
    data-theme-mode="false"
  {{ else if eq .Site.Params.dark_mode.enable "auto" }}
    data-theme-mode="auto"
  {{ end }}
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "loader.html" . }}
    <div id="container">
      <div id="wrap">
        {{ partial "header.html" . }}
        <div id="content"
          {{ if or (and (eq .Site.Params.sidebar "left") (eq .Params.sidebar nil)) (eq .Params.sidebar "left") }}class="sidebar-left"{{ end }}
          {{ if or (and (eq .Site.Params.sidebar "right") (eq .Params.sidebar nil)) (eq .Params.sidebar "right") }}class="sidebar-right"{{ end }}  >
          {{ partial "sidebar.html" . }}
          <section id="main">{{ block "main" . }}{{ end }}</section>
        </div>
        {{ if and .Site.Params.player.aplayer.enable (not .Site.Params.player.meting.enable) .Site.Params.player.aplayer.options.fixed  }}
          <div id="aplayer" theme="var(--color-link)" data-aos="{{ .Site.Params.animation.options.home.sidebar }}"></div>
        {{ end }}
        {{ if and .Site.Params.player.meting.enable .Site.Params.player.aplayer.options.fixed }}
          <meting-js
            theme="var(--color-link)"
            {{ if ne .Site.Params.player.meting.options.id nil }}id="{{.Site.Params.player.meting.options.id}}"{{ end }}
            {{ if ne .Site.Params.player.meting.options.server nil }}server="{{ .Site.Params.player.meting.options.server }}"{{ end }}
            {{ if ne .Site.Params.player.meting.options.type nil }}type="{{ .Site.Params.player.meting.options.type }}"{{ end }}
            {{ if ne .Site.Params.player.meting.options.auto nil }}auto="{{ .Site.Params.player.meting.options.auto }}"{{ end }}
            {{ if ne .Site.Params.player.aplayer.options.fixed nil }}fixed="{{ .Site.Params.player.aplayer.options.fixed }}"{{ end }}
            {{ if ne .Site.Params.player.aplayer.options.autoplay nil }}autoplay="{{ .Site.Params.player.aplayer.options.autoplay }}"{{ end }}
            {{ if ne .Site.Params.player.aplayer.options.loop nil }}loop="{{ .Site.Params.player.aplayer.options.loop }}"{{ end }}
            {{ if ne .Site.Params.player.aplayer.options.order nil }}order="{{ .Site.Params.player.aplayer.options.order }}"{{ end }}
            {{ if ne .Site.Params.player.aplayer.options.preload nil }}preload="{{ .Site.Params.player.aplayer.options.preload }}"{{ end }}
            {{ if ne .Site.Params.player.aplayer.options.volume nil }}volume="{{ .Site.Params.player.aplayer.options.volume }}"{{ end }}
            {{ if ne .Site.Params.player.aplayer.options.mutex nil }}mutex="{{ .Site.Params.player.aplayer.options.mutex }}"{{ end }}
            {{ if ne .Site.Params.player.aplayer.options.listFolded nil }}list-folded="{{ .Site.Params.player.aplayer.options.listFolded }}"{{ end }}
            {{ if ne .Site.Params.player.aplayer.options.lrcType nil }}lrc-type="{{ .Site.Params.player.aplayer.options.lrcType }}"{{ end }}
            >
          </meting-js>
        {{ end }}
        {{ partial "footer.html" . }}
        {{ if .Site.Params.top.enable }}
          <div class="sidebar-top">
            <div class="sidebar-top-taichi {{ if .Site.Params.top.icon.rotate }}rotate{{ end }}"></div>
            <div class="arrow-up"></div>
          </div>
        {{ end }}
        <div id="mask" class="hide"></div>
      </div>
      {{ partial "mobilebar.html" . }}
    </div>
    {{ if .Site.Params.algolia_search.enable }}
      <div class="site-search">
        <div class="reimu-popup popup">
          <div class="reimu-search">
            <div class="reimu-search-input-icon"></div>
            <div class="reimu-search-input" id="reimu-search-input"></div>
            <div class="popup-btn-close"></div>
          </div>
          <div class="reimu-results">
            <div id="reimu-stats"></div>
            <div id="reimu-hits"></div>
            <div id="reimu-pagination" class="reimu-pagination"></div>
          </div>
          <img class="reimu-bg" src="{{ "images/reimu.png" | relURL }}" />
        </div>
      </div>
    {{ end }}
    {{ partial "afterFooter.html" . }}
  </body>
</html>
