{{ $url := .Permalink }}
{{ $title := .Title }}
{{ $source := .Site.BaseURL }}
{{ $desc := "" }}
{{ if .Params.description }}
  {{ $desc = .Params.description | plainify | truncate 300 }}
{{ else if .Summary }}
  {{ $desc = .Summary  | plainify | truncate 300 }}
{{ else }}
  {{ $desc = .RawContent | truncate 300 }}
{{ end }}

{{- $shareMap := dict
  "weibo" (printf "http://service.weibo.com/share/share.php?url=%s&appkey=&title=%s&pic=&ralateUid=" $url $title)
  "facebook" (printf "https://www.facebook.com/sharer/sharer.php?u=%s" $url)
  "twitter" (printf "https://twitter.com/intent/tweet?url=%s&text=%s&via=%s" $url $title $source)
  "linkedin" (printf "https://www.linkedin.com/shareArticle?url=%s&title=%s&summary=%s&mini=true&ro=true" $url $title $desc)
  "reddit" (printf "https://www.reddit.com/submit?url=%s&title=%s" $url $title)
  "qq" (printf "http://connect.qq.com/widget/shareqq/index.html?url=%s&title=%s&desc=%s&source=%s" $url $title $desc $source)
  "weixin" ("javascript:;" | safeURL)  
-}}

{{- return $shareMap -}}
