<nav id="mobile-nav">
  <div class="sidebar-wrap">
    {{ if in .Site.Params.mainSections .Type }}
      <div class="sidebar-toc-sidebar">
        {{ partial "sidebar/tocBar.html" . }}
      </div>
      <div class="sidebar-common-sidebar hidden">
        {{ partial "sidebar/commonBar.html" . }}
      </div>
    {{ else }}
      {{ partial "sidebar/commonBar.html" . }}
    {{ end }}
  </div>
  {{ if in .Site.Params.mainSections .Type }}
    <div class="sidebar-btn-wrapper">
      <div class="sidebar-toc-btn current"></div>
      <div class="sidebar-common-btn"></div>
    </div>
  {{ end }}
</nav>
