<aside id="sidebar">
  {{ if and .Site.Params.player.aplayer.enable (not .Site.Params.player.meting.enable) (not .Site.Params.player.aplayer.options.fixed)  }}
    <div id="aplayer" theme="var(--color-link)" data-aos="{{ .Site.Params.animation.options.home.sidebar }}"></div>
  {{ end }}
  {{ if and .Site.Params.player.meting.enable (not .Site.Params.player.aplayer.options.fixed) }}
    <meting-js
      theme="var(--color-link)"
      {{ if ne .Site.Params.player.meting.options.id nil }}id="{{.Site.Params.player.meting.options.id}}"{{ end }}
      {{ if ne .Site.Params.player.meting.options.server nil }}server="{{ .Site.Params.player.meting.options.server }}"{{ end }}
      {{ if ne .Site.Params.player.meting.options.type nil }}type="{{ .Site.Params.player.meting.options.type }}"{{ end }}
      {{ if ne .Site.Params.player.meting.options.auto nil }}auto="{{ .Site.Params.player.meting.options.auto }}"{{ end }}
      {{ if ne .Site.Params.player.aplayer.options.fixed nil }}fixed="{{ .Site.Params.player.aplayer.options.fixed }}"{{ end }}
      {{ if ne .Site.Params.player.aplayer.options.autoplay nil }}autoplay="{{ .Site.Params.player.aplayer.options.autoplay }}"{{ end }}
      {{ if ne .Site.Params.player.aplayer.options.loop nil }}loop="{{ .Site.Params.player.aplayer.options.loop }}"{{ end }}
      {{ if ne .Site.Params.player.aplayer.options.order nil }}order="{{ .Site.Params.player.aplayer.options.order }}"{{ end }}
      {{ if ne .Site.Params.player.aplayer.options.preload nil }}preload="{{ .Site.Params.player.aplayer.options.preload }}"{{ end }}
      {{ if ne .Site.Params.player.aplayer.options.volume nil }}volume="{{ .Site.Params.player.aplayer.options.volume }}"{{ end }}
      {{ if ne .Site.Params.player.aplayer.options.mutex nil }}mutex="{{ .Site.Params.player.aplayer.options.mutex }}"{{ end }}
      {{ if ne .Site.Params.player.aplayer.options.listFolded nil }}list-folded="{{ .Site.Params.player.aplayer.options.listFolded }}"{{ end }}
      {{ if ne .Site.Params.player.aplayer.options.lrcType nil }}lrc-type="{{ .Site.Params.player.aplayer.options.lrcType }}"{{ end }}
      >
    </meting-js>
  {{ end }}
  <div class="sidebar-wrapper {{ if in .Site.Params.mainSections .Type }}wrap-sticky{{ end }}">
    <div
      class="sidebar-wrap"
      data-aos="{{ .Site.Params.animation.options.home.sidebar }}"
    >
      {{ if in .Site.Params.mainSections .Type }}
        <div class="sidebar-toc-sidebar">
          {{ partial "sidebar/tocBar.html" . }}
        </div>
        <div class="sidebar-common-sidebar hidden">
          {{ partial "sidebar/commonBar.html" . }}
        </div>
      {{ else }}
        {{ partial "sidebar/commonBar.html" . }}
      {{ end }}

      {{ if in .Site.Params.mainSections .Type }}
        <div class="sidebar-btn-wrapper" style="position:static">
          <div class="sidebar-toc-btn current"></div>
          <div class="sidebar-common-btn"></div>
        </div>
      {{ end }}
    </div>
  </div>

  <div class="sidebar-widget">
    {{ if and (not (in .Site.Params.mainSections .Type)) .Site.Params.widgets }}
      {{ range .Site.Params.widgets }}
        {{ partial (printf "widget/%s.html" .) $ }}
      {{ end }}
    {{ end }}
  </div>
</aside>
