<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
  <meta name="description" content="{{ or .Params.subtitle .Description site.Params.description }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ "index.xml" | absURL }}">
  <link rel="preload" href="{{ "fonts/alegreya-normal-latin.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ "fonts/alegreya-sc-normal-700-latin.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
  {{/* Join the CSS files into one */}}
  {{ $css := slice }}
  {{ range slice "css/fonts.css" "css/main.css" "css/syntax.css" }}
    {{ $css = $css | append (resources.Get .) }}
  {{ end }}
  {{ with $css | resources.Concat "css/site.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
</head>
<body>
  <div class="page">
    {{ block "masthead" . }}{{ partial "masthead.html" (dict "heading" .Title "subtitle" .Params.subtitle) }}{{ end }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "nav.html" . }}
    {{ partial "footer.html" . }}
  </div>
  <script src="{{ "js/site.js" | relURL }}" defer></script>
</body>
</html>
