{{ define "main" }}
  {{ $ctx := . }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
  {{ if and (eq 1 $paginator.PageNumber) ($ctx.Site.Params.home_categories.enable) }}
    <div class="post-categories-wrapper" data-aos="{{ $ctx.Site.Params.animation.options.home.post }}">
      {{ range $k, $v := $ctx.Site.Params.home_categories.content }}
        {{ if $v.categories }}
          <div class="post-categories-wrap">
            <a class="post-link" href="{{ (printf "%s%s" "categories/" $v.categories) | relURL }}" aria-label=""></a>
            <div class="post-categories-cover">
              {{ if $v.cover }}
                <img
                  data-src="{{ $v.cover | relURL }}"
                  data-sizes="auto"
                  alt="{{ $v.categories }}"
                  class="lazyload"
                />
              {{ else }}
                {{ $cover := partial "helpers/randomCover.html" $ctx }}
                {{ if $cover }}
                  <img
                    data-src="{{ $cover }}"
                    data-sizes="auto"
                    alt="{{ $v.categories }}"
                    class="lazyload"
                  />
                {{ else }}
                  <img
                    data-src="{{ $ctx.Site.Params.banner | relURL }}"
                    data-sizes="auto"
                    alt="{{ $v.categories }}"
                    class="lazyload"
                  />
                {{ end }}
              {{ end }}
              <h2>{{ $v.categories }}</h2>
              <h3>{{ i18n "home_categories.count" (len (index $ctx.Site.Taxonomies.categories $v.categories)) }}</h3>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
  {{ range $k, $v := $paginator.Pages }}
    {{ partial "partials/post.html"  (dict "index" $k "ctx" . "page" $v ) }}
  {{ end }}
  {{ partial "partials/pagination.html" . }}
{{ end }}
