@if $live2d_widgets_position == "right" {
  #waifu {
    right: 0 !important;
    left: auto !important;
  }

  #waifu-tool {
    right: auto !important;
    left: -10px !important;
  }
}
#waifu-toggle {
  z-index: 1;
}